# Upload install files as an artifact.

name: CMake

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

env:
  BUILD_PATH: ${{github.workspace}}/build
  INSTALL_PREFIX: ${{github.workspace}}/install
  CMAKE_BUILD_TYPE: Release
  CMAKE_CONFIG_TYPE: Release
  CMAKE_BUILD_PARALLEL_LEVEL: 2
  CTEST_PARALLEL_LEVEL: 2

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@v3.5.2

    - name: Configure
      run: cmake -B ${{env.BUILD_PATH}}

    - name: Build
      run: cmake --build ${{env.BUILD_PATH}}

    - name: Test
      run: ctest --test-dir ${{env.BUILD_PATH}}

    - name: Install
      run: cmake --install ${{env.BUILD_PATH}} --prefix ${{env.INSTALL_PREFIX}} --strip

    - name: Upload
      uses: actions/upload-artifact@v3.1.2
      with:
        name: Installation (${{matrix.os}})
        path: ${{env.INSTALL_PREFIX}}
