# Upload install files as an artifact. All tag pushes also create a release.

name: CMake

on:
  push:
    branches: [ "master" ]
    tags: "*"
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

env:
  BUILD_PATH: ${{github.workspace}}/build
  BUILD_TYPE: Release
  INSTALL_PREFIX: ${{github.workspace}}/install
  PARALLEL_LEVEL: 2

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@v3.5.3

    - name: Configure
      run: cmake -B ${{env.BUILD_PATH}} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{env.BUILD_PATH}} --config ${{env.BUILD_TYPE}} -j ${{env.PARALLEL_LEVEL}}

    - name: Test
      run: ctest --test-dir ${{env.BUILD_PATH}} -C ${{env.BUILD_TYPE}} -j ${{env.PARALLEL_LEVEL}}

    - name: Install
      run: cmake --install ${{env.BUILD_PATH}} --config ${{env.BUILD_TYPE}} --prefix ${{env.INSTALL_PREFIX}} --strip

    - name: Upload Artifact
      uses: actions/upload-artifact@v3.1.2
      with:
        name: ${{github.event.repository.name}}_${{github.ref_name}}_${{runner.os}}
        path: ${{env.INSTALL_PREFIX}}

  release:
    if: startsWith(${{github.ref}}, "refs/tags/")
    needs: build
    runs-on: ubuntu-latest
    permissions:
        contents: write

    steps:
    - name: Download Artifact
      uses: actions/download-artifact@v3.0.2
      with:
        path: ${{env.INSTALL_PREFIX}}

    - name: Release
      uses: ncipollo/release-action@v1.12.0
      with:
        artifacts: "${{env.INSTALL_PREFIX}}/*"
